{
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "arrowParens": "always",
  "importOrder": [
    "^[./]"
  ]
}